.card {
	position: relative;
	max-width: 406px;
	background: #fffefe;
	border-radius: 10px;
	filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.15));

	.gold {
		position: absolute;
		right: -1px;
		top: -1px;
		background: linear-gradient(106.06deg, #ffd54f 1.12%, #fec100 97.96%);
		border-radius: 0px 10px 10px 10px;

		font-weight: 700;
		font-size: 1.125rem;
		line-height: 1.375rem;
		color: #ffffff;
		text-shadow: 0px 1px 0px rgba(147, 79, 0, 0.3);
		padding: 0.5rem 0.75rem;
	}
}

.content {
	padding: 1.25rem 0.9375rem;
}

.row {
	display: flex;
}

.params {
	gap: 1.25rem;
	align-items: center;
}

.price {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #664ef9;
	margin-right: auto;

	span {
		display: block;
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 1.0625rem;
		color: #bdbdbd;
	}
}

.people,
.roomsCount {
	background: #f8f8f8;
	border-radius: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.375rem;
	padding: 0.5rem;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.0625rem;
	color: #686868;
}

.address {
	margin-top: 1.5rem;

	&Row {
		gap: 1.875rem;
		margin-top: 0.3875rem;
	}
}

.slider {
	img {
		max-width: 100%;
		aspect-ratio: 1 / 0.56;
		border-radius: 10px;
	}
}

.location,
.metro,
.district {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.1875rem;
	color: #000000;
	display: flex;
	align-items: center;
}

.location {
	gap: 0.625rem;
}

.metro,
.district {
	gap: 0.375rem;
}

.circle {
	width: 6px;
	height: 6px;
	background-color: #bdbdbd;
	border-radius: 50%;
}

.description {
	margin-top: 1.25rem;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.125rem;
	color: #686868;
	max-height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.line {
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #4e64f9;
	opacity: 0.1;
	margin-top: 0.9375rem;
}

.bottom {
	margin-top: 0.8125rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&.wide {
		justify-content: start;
		gap: 0.9375rem;
	}
}

.addToFav {
	cursor: pointer;
	height: 35px;
	background: rgba(235, 87, 87, 0.1);
	border-radius: 22px;
	padding: 0.5625rem;
	transition: 0.3s all;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .625rem;

	&:hover {
		background: rgba(235, 87, 87, 0.2);
	}

	span {
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 1.0625rem;
		color: #eb5757;
	}

	&.wide {
		padding: .5625rem .9375rem;
	}
}

.contacts {
	position: relative;
	cursor: pointer;
	background: #f8f8f8;
	border-radius: 18px;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.0625rem;
	color: #664ef9;
	padding: 0.625rem 0.9375rem;
	display: flex;
	align-items: center;
	gap: 0.625rem;
	transition: 0.3s all;

	&:hover {
		background: #c4bbff71;
	}

	&Card {
		position: absolute;
		width: 274px;
		height: 297px;
		left: calc(-137px + 62px);
		top: calc(-297px - 25px);

		padding: 1.625rem 1.875rem;
		text-align: center;

		background: #ffffff;
		box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
		border-radius: 10px;
	}

	.socials {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.25rem;
	}
}

.more {
	cursor: pointer;
	background: rgba(255, 213, 79, 0.1);
	border-radius: 17px;

	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.0625rem;
	color: #fec100;
	padding: 0.625rem 0.9375rem;
	transition: 0.3s all;

	&:hover {
		background: rgba(255, 213, 79, 0.3);
	}

	&.wide {
		margin-left: auto;
	}
}

.avatar {
	max-width: 60px;
	margin: 0 auto;
	border-radius: 50%;

	img {
		border: 4px solid #664ef9;
		width: 100%;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		object-fit: cover;
	}
}

.ownerTitle {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 0.875rem;
	color: #bdbdbd;
	margin-top: 0.9375rem;
}

.ownerName {
	margin-top: 0.3125rem;
	margin-bottom: 0.85rem;
}

.ownerName,
.phone {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.25rem;
	color: #1e2123;
}

.phone {
	display: block;
	margin-bottom: 0.6375rem;
}

.mail {
	display: inline-block;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1rem;
	color: #664ef9;
	margin-bottom: 1.875rem;
}

.active {
	background: #ffffff;
	box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
	border-radius: 18px;
}

.wideCard {
	display: flex;
	max-width: 100%;
}
