.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;

	@media (max-width: 1400px) {
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
	}
	@media (max-width: 900px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0;
	}
}