.filter {
	position: relative;
	z-index: 2;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 430px;
		background-image: url('../../assets/main-bg.png');
		z-index: -1;
		background-repeat: no-repeat;
		background-size: cover;
	}

	padding-top: 5.125rem;

	&Container {
		display: flex;
		.citySelect {
			background-color: #fff;
			display: flex;
			align-items: center;
			border-right: 1px solid #664ef919;
			padding: 1.375rem 1.5625rem;
		}
	}
}

.title {
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 2.25rem;
	text-align: center;
	color: #ffffff;
	text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);

	span {
		color: #ffd54f;
	}
}

.tabs {
	margin-top: 3.125rem;
	display: flex;
	align-items: center;

	.tab {
		cursor: pointer;
		padding: 0.8125rem 1.25rem;
		border-radius: 10px 10px 0 0;
		transition: all 0.3s;
		span {
			font-weight: 600;
			font-size: 0.875rem;
			line-height: 1.0625rem;
			color: #fff;
		}
	}

	.active {
		background-color: #fff;

		span {
			color: #664ef9;
		}
	}
}
