.news {
	position: relative;
	overflow: hidden;
	padding-bottom: 6.25rem;
	flex: 1 0 auto;

	&::after {
		content: '';
		position: absolute;
		right: -2rem;
		top: 2rem;
		width: 53vw;
		z-index: -1;
		aspect-ratio: 1 / 1.5;
		background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
		opacity: 0.1;
		border-radius: 40px;

		@media (max-width: 900px) {
			content: none;
		}
	}

	&Head {
		margin-top: 1.5625rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 600px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;
		}
	}
}

.notFound, .error {
	text-align: center;
	margin-top: 4rem;
}

.skeletonCards {
	margin-top: 3.875rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;

	@media (max-width: 1400px) {
		grid-template-columns: repeat(2, 1fr);
		place-items: center;
	}
	@media (max-width: 900px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0;
	}
}
